<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Todo App</title>

    {% load static %}

    <link rel="stylesheet" href={% static "todo/style.css" %}>
    <script src={% static "todo/script.js" %}></script>
</head>
<body>
    <header>
        <button hidden class="undo" id="undo">
            <i class="undo_icon"></i>
          </button>
          
        <label class="custom-checkbox">
            <input type="checkbox" id="switch">
            <span class="checkmark"></span>
        </label>         
    </header>
    <main>
        <h1>To-do App</h1>

        <form action="#" method="post">
            <input type="text" placeholder="New task..." id="taskentry" name="taskentry" {% if not 1 %} disabled="disabled" {% endif %}>
            <input type="button" value="+" id="big_button"><br>
            <div id="task-list">
                {% for x in todo %}
                <input type="checkbox" id="checkbox_{{x.id}}" class="todocheck"  {% if x.checkstate == True %} checked {% endif %}>
                <input type="text" id="task_{{x.id}}" value="{{x.taskname}}">  <a class="del" hidden href="#">-</a><br>
                {% endfor %}
            </div>
        </form>
    </main>
    
</body>
</html>