<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Todo App</title>

    {% load static %}

    <link rel="stylesheet" href={% static "todo/style.css" %}>
    <script src={% static "todo/script.js" %}></script>
</head>
<body>
    <header>
        <a hidden href="#">Undo</a>
        <label class="custom-checkbox">
            <input type="checkbox" onclick="modeswitch()" id="switch">
            <span class="checkmark"></span>
        </label>         
       

    </header>
    <main>
        <h1>To-do App</h1>

        <form action="#" method="post">
            <input type="text" onkeydown="if (event.keyCode == 13) add_request()" placeholder="New task..." id="taskentry" name="taskentry" {% if not 1 %} disabled="disabled" {% endif %}>
            <input type="button" onclick="add_request()" value={% if 1 %}"+"{% else %}"-"{% endif %}><br>
            <div id="task-list">
                {% for x in todo %}
                <input type="checkbox" id="{{x.id}}" name="{{x.id}}" value="{{x.id}}" {% if x.checkstate == True %} checked {% endif %}><input type="text" value="{{x.taskname}}"><br>
                {% endfor %}
            </div>
        </form>
    </main>
    
</body>
</html>