/* Normal mode */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    width: 320px; /* smartphone width */
    border: solid black 1px;
}

header {
    text-align: right;
    width: 320px; /* smartphone width */
    height: 36px;
    border: solid black 1px;
}

/* --- Mode switch --- */

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
    display: none;
}

/* Create a custom checkbox */
.custom-checkbox {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 32px;
    border: black solid 1px;
}

/* Create the checkmark */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-image: url("images/trash-off.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

/* Change the checkmark icon when the checkbox is checked */
input[type="checkbox"]:checked + .checkmark {
    background-image: url("images/trash-on.svg");
    background-size: contain;
    background-position: center;
}



/* --- Deletion mode --- */
.del {
    text-decoration: none;
    font-size: x-large;
}

.undo {
    background: none;
    border: none;
    cursor: pointer;
}
  
.undo_icon {
    background-image: url("images/undo.svg");
    background-size: contain;
    background-position: center;
    width: 32px;
    height: 32px;
    display: inline-block;
    border: red solid 1px;

}
